.adopt_check {
  &-wrap {
    margin-bottom: 60px;

    &-content {
      margin-top: 30px;
      display: flex;
      justify-content: space-around;

      &-info {
        width: 40%;

        &>div {
          border: 1px solid map-get($color, main);
          border-radius: 5px;
          margin-bottom: 30px;
          padding: 10px 15px;
          display: flex;
        }

        &-header {
          width: 200px;

          &>img {
            border-radius: 5px;
          }
        }

        &-cont {
          margin-left: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &>p {
            margin-bottom: 10px;
          }
        }
      }

      &-user {
        width: 40%;

        &>div {
          border-radius: 5px;
          border: 1px solid map-get($color, main);
          padding: 30px 30px;

          &>p {
            margin-bottom: 15px;

            &>span {
              font-weight: bold;
            }
          }

          &>p:nth-last-of-type(1) {
            margin-bottom: 0px;
          }

          &>div {
            margin-top: 30px;
            text-align: center;

            &>a {
              &:hover {
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }

      }
    }
  }
}