.footer {
    &-title {
        position: relative;

        &-img {
            position: absolute;
        }

        .house {
            left: 7%;
            top: -18px;
            transform: rotate(-10deg);
        }

        .tai {
            left: 50%;
            top: -8px;
            transform: translateX(-50%);
        }

        .play {
            right: 30%;
            top: -32px;
            transition: all .5s;

            &:hover {
                right: 29%;
                top: -40px;
            }
        }
    }

    &-wrap {
        color: #fff;
        background-color: map-get($color, main);
        padding: 30px 0px;

        &-header {
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto;

            &-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30%;

                @media(max-width:1200px) {
                    flex-direction: column;
                }

                @media(max-width:800px) {
                    display: none;
                }

                &>h3 {
                    margin-left: 20px;
                    margin-bottom: 0px;

                    @media(max-width:1200px) {
                        margin-top: 10px;
                        margin-left: 0px;
                    }
                }
            }

            &-content {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                width: 40%;

                @media(max-width:1200px) {
                    align-items: flex-start;
                }

                &>div {
                    display: flex;

                    @media(max-width:1200px) {
                        flex-direction: column;
                    }

                    &>p:nth-of-type(1) {
                        margin-right: 10px;
                    }
                }

                &>p {
                    margin-bottom: 0px;
                    margin-right: 15px;
                }
            }

            &-info {
                width: 40%;

                &>p {
                    margin-bottom: 8px;
                }
            }
        }

        &-community {
            display: flex;
            width: 80%;
            margin: auto;
            margin-top: 15px;

            @media(max-width:800px) {
                display: none;
            }

            &>ul {
                width: 63%;
                padding-left: 0px;
                margin-left: 8px;
                display: flex;

                &>li {
                    list-style: none;
                    margin-right: 15px;

                    &>a {
                        font-weight: 500;
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &-media {
                display: flex;
                width: 37%;

                .footer-svg {
                    width: 32px;
                    height: 32px;
                    margin-right: 10px;
                }
            }
        }
    }

    &-bottom {
        text-align: center;
        color: #fff;
        padding: 15px 0px 15px 0px;
        background-color: map-get($color, second);

        &>p {
            @media(max-width: 500px) {
                width: 80%;
                margin: auto;
            }
        }
    }
}

#topid {
    max-width: 1200px;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 100px;
    text-align: right;
    margin: auto;
    border: 1px solid #fff;
    right: 11%;
    transform: translateX(-11%);
    z-index: 99999;
    border-radius: 50%;
    background-color: map-get($color, main);
    display: none;

    &:hover {
        background-color: map-get($color, second);
    }

    &>div {
        position: absolute;
        right: 33px;
    }

    &>div:nth-child(1) {
        top: 3px;
    }

    &>div:nth-child(2) {
        top: 15px;
        right: 16px;
    }

    &>div:nth-child(3) {
        top: 28px;
        right: 33px;
    }

    &>div:nth-child(4) {
        top: 40px;
        right: 15px;
    }
}