.header {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
    z-index: 9999;
    position: relative;

    &-title {
        text-align: center;

        &>h1 {
            margin-top: 15px;
            color: black;
        }

        &>p {
            color: map-get($color, main);
        }
    }

    &-link {
        &:hover {
            text-decoration: none;
        }
    }

    &-list {
        margin-top: 80px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;

        @media(max-width:500px) {
            margin-bottom: 0px;
        }

        &>ul {
            padding-left: 0px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 60%;

            @media(max-width:768px) {
                width: 90%;
            }

            @media(max-width:500px) {
                width: 62%;
                flex-wrap: wrap;
            }

            &>li {
                list-style: none;
                display: block;

                @media(max-width:500px) {
                    margin-bottom: 60px;
                }

                &:hover {
                    &>a::before {
                        bottom: 25px !important;
                    }
                }

                &>a {
                    position: relative;

                    &>p {
                        position: absolute;
                        right: 0px;
                        bottom: 53px;
                        width: 14px;
                        height: 14px;
                        background-color: map-get($color, main);
                        color: white;
                        border-radius: 50%;
                        text-align: center;
                        margin-bottom: 0px;
                        line-height: 14px;
                        font-size: 12px;
                    }
                }
            }

            &>li:nth-of-type(4),
            &>li:nth-of-type(5),
            &>li:nth-of-type(6) {
                @media(max-width:360px) {
                    margin-bottom: 20px;
                }
            }
        }
    }

}