@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

body {
    font-family: 'Noto Serif SC', serif;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 100;
    overflow-y: auto;
    overflow-x: hidden;
}

p {
    margin-bottom: 0px;
}


img {
    max-width: 100%;
}

button {
    outline: none;
    background-color: transparent;
    border: transparent;

    &:focus {
        outline: none;
    }
}

$color: (main: #ff9a9e,
    second: #fad0c4,
    three: #efefef,
);

.color-main {
    color: #ff9a9e;

    &:hover {
        color: #fad0c4;
        text-decoration: none;
    }
}

.color-link-main {
    color: #ff9a9e;
    transition: ease-in-out 0.5s;

    &:hover {
        color: #fad0c4;
        text-decoration: none;
    }
}

.btn-main {
    display: inline-block;
    padding: 8px 15px;
    background-color: map-get($color, main);
    color: #fff;
    border: 1px solid map-get($color, main);
    border-radius: 4px;
    transition: all 0.5s;

    &:hover {
        background-color: map-get($color, second);
        border: 1px solid map-get($color, second);
    }
}

.btn-second {
    padding: 8px 15px;
    border: 1px solid map-get($color, main);
    color: map-get($color, main);
    border-radius: 4px;
    transition: ease-in-out 0.5s;
    margin-top: 30px;

    &:hover {
        color: #fff;
        background-color: map-get($color, main);
        text-decoration: none;
    }
}

a {
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.clearboth {
    clear: both;
}

// loading 特效
@keyframes ldio-i4ihhev39wf {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(0.91, 0.91);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-i4ihhev39wf div>div {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ff9a9e;
    animation: ldio-i4ihhev39wf 0.4854368932038836s linear infinite;
}

.ldio-i4ihhev39wf div:nth-child(1)>div {
    left: 73px;
    top: 41px;
    animation-delay: -0.41608876560332875s;
}

.ldio-i4ihhev39wf>div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 82px 50px;
}

.ldio-i4ihhev39wf div:nth-child(2)>div {
    left: 61px;
    top: 66px;
    animation-delay: -0.346740638002774s;
}

.ldio-i4ihhev39wf>div:nth-child(2) {
    transform: rotate(51.42857142857143deg);
    transform-origin: 70px 75px;
}

.ldio-i4ihhev39wf div:nth-child(3)>div {
    left: 34px;
    top: 72px;
    animation-delay: -0.2773925104022192s;
}

.ldio-i4ihhev39wf>div:nth-child(3) {
    transform: rotate(102.85714285714286deg);
    transform-origin: 43px 81px;
}

.ldio-i4ihhev39wf div:nth-child(4)>div {
    left: 12px;
    top: 55px;
    animation-delay: -0.20804438280166437s;
}

.ldio-i4ihhev39wf>div:nth-child(4) {
    transform: rotate(154.28571428571428deg);
    transform-origin: 21px 64px;
}

.ldio-i4ihhev39wf div:nth-child(5)>div {
    left: 12px;
    top: 27px;
    animation-delay: -0.1386962552011096s;
}

.ldio-i4ihhev39wf>div:nth-child(5) {
    transform: rotate(205.71428571428572deg);
    transform-origin: 21px 36px;
}

.ldio-i4ihhev39wf div:nth-child(6)>div {
    left: 34px;
    top: 10px;
    animation-delay: -0.0693481276005548s;
}

.ldio-i4ihhev39wf>div:nth-child(6) {
    transform: rotate(257.14285714285717deg);
    transform-origin: 43px 19px;
}

.ldio-i4ihhev39wf div:nth-child(7)>div {
    left: 61px;
    top: 16px;
    animation-delay: 0s;
}

.ldio-i4ihhev39wf>div:nth-child(7) {
    transform: rotate(308.57142857142856deg);
    transform-origin: 70px 25px;
}

.loadingio-spinner-spin-vr67c069ls {
    width: 60px;
    height: 60px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-i4ihhev39wf {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.6);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-i4ihhev39wf div {
    box-sizing: content-box;
}

// end loading 特效

// 分頁
.pagination {
    margin-bottom: 0px;
}

// end 分頁

// slick
.slick-prev {
    background: transparent;
    background-image: url(~@/assets/images/adopt/arrow.svg);
    background-repeat: no-repeat;

    @media(max-width: 450px) {
        left: -15px;
    }
}

.slick-prev:hover {
    background: transparent;
    background-image: url(~@/assets/images/adopt/arrow.svg);
    background-repeat: no-repeat;
}

.slick-prev::before {
    content: '';
}

.slick-next {
    background: transparent;
    background-image: url(~@/assets/images/adopt/arrow.svg);
    transform: rotate(180deg);
    background-repeat: no-repeat;

    @media(max-width: 450px) {
        right: -15px;
    }
}

.slick-next:hover {
    background: transparent;
    background-image: url(~@/assets/images/adopt/arrow.svg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

.slick-next::before {
    content: '';
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: map-get($color, main);
}

.slick-prev:focus,
.slick-next:focus {
    color: white;
    outline: none;
    background-image: url(~@/assets/images/adopt/arrow.svg);
    background-repeat: no-repeat;
}

//   end slick

// 驗證樣式
.is-invalid {
    color: #eb0600 !important;
}

.is-invalid input {
    border: 1px #eb0600 solid !important;
}

.is-valid {
    color: #000000;
}

.is-valid input {
    border: 1px solid #000000;
    border-radius: 2px;
    color: #000000;
}

.error-msg {
    margin: 5px 0px;
}

// end 驗證

// input number 樣式
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

// end input

textarea {
    resize: none;
}